.main-grid {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.windows {
    flex: 1;
    display: grid;
    place-items: center;
}

.control {
    background-color: #212121;
    flex: 1;
    display: grid;
    place-items: center;
}

.window {
    margin: 8px;
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #212121;
}